<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">

		  
              <p>We are part of the <a href="https://hyxy.nbu.edu.cn/">Faculty of Maritime and Transportation</a> at <a href="https://www.nbu.edu.cn/"> Ningbo University (NBU)</a>.</p>


		   <p>  </p><p>


		</div>
		<div class="col-sm-4">
		  Funding:<br />
      		  - Zhejiang Provincial Natural Science Foundation of China<br />
		  - Natural Science Foundation of Ningbo<br />
		  - Ningbo Yongjiang Talent Project Young Innovative Talent Program
		</div>
		<div class="col-sm-4">
		  Contact:<br />
		   Faculty of Maritime and Transportation, Ningbo University<br />
		  No. 818 Fenghua Rd., Jiangbei District<br />
		  Ningbo 315211, Zhejiang Province<br />
		  China <br />
            (<a href="https://maps.app.goo.gl/defUHpMqF8fg4WGJA">Maps</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
